---
import Navigation from './Navigation.astro'
---
<header>
    <nav>
        <Navigation/>
    </nav>
</header>

<style>
    nav {
        display: flex;
        /* leave 3em of space between items */
        gap: 3em;
    }
</style>