---
import Navigation from './Navigation.astro'
import Menu from './Menu.astro'
---
<header>
    <nav>
        <Menu/>
        <Navigation/>
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: flex-start;
        /* leave 3em of space between items */
        gap: 3em;
    }
</style>